@charset "utf-8";
body {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    text-align: center;
    margin:0px;
    background: url(../../images/yue/yjjczsuccess.jpg) no-repeat;
}
div{
    position: absolute;
    text-align: center;
}