<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值成功取回银行卡</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/control.css" media="all">
    <link rel="stylesheet" href="/css/zyyjf/zyPaySuccess.css" media="all">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <!--以IE8模式渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=7">
</head>
<body scroll="no">
<div id="time" style="position:absolute;top:3px;left:900px;font-size:60px;color: #FF0000;"></div>
<div id="name" style="margin:223px 0px 0px 446px;height:33px;width:238px;line-height:33px;font-size:32px;"></div>
<div id="czje" style="margin:283px 0px 0px 446px;height:33px;width:238px;line-height:33px;font-size:32px;"></div>
<div id="czqye" style="margin:343px 0px 0px 446px;height:33px;width:238px;line-height:33px;font-size:32px;"></div>
<div id="czhye" style="margin:403px 0px 0px 446px;height:33px;width:238px;line-height:33px;font-size:32px;"></div>
<div id="qrfh" style="margin:598px 0px 0px 397px;height:57px;width:238px;"></div>

<div id="mainPage" style="width: 149px;height: 50px;margin:708px 0px 0px 683px;">
    <img alt="" src="/images/yue/mzgh_index_y.png">
</div>
<div id="backPage" style="width: 149px;height: 50px;margin:708px 0px 0px 851px;">
    <img alt="" src="/images/yue/mzgh_return_y.png">
</div>
<div id="waiting" style="display:none;margin:199px 0px 0px 212px;z-index:100;width:576px;height:321px;background-image:url('../../images/waiting.gif');position:absolute;"></div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.2.js"></script>
<script src="/js/jqsession.js"></script>
<script type="text/javascript" src="/js/zyyjf/zyPaySuccess.js"></script>
</html>