<!DOCTYPE html>
<html>
<head>

<title>临沂人民医院—首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
body {
	width: 1024px;
	height: 768px;
	overflow: hidden;
	background: url(/images/FUSONG.png)
		no-repeat;
}

.menu {
    margin: 54px 0px 0px 160px;
	float: left;
	padding: 0px 0px 0px 0px;
}
.menu img{
	width:260px;
	opacity: 1;
}
</style>
</head>
<body scroll="no" ondragstart="return false" onselectstart="return false">
	<div id="zdbh"
		style="position:absolute;margin: -5px 0px 0px 839px;font-size:28px;color:red;"></div>
	<div class='timerShow'
		style="position:absolute;width:501px;color:red;font-size:28px;margin:30px 0px 0px 784px;">
		<span class='Y'></span> <span class='D'></span> <span class='H'></span>
	</div>

	<div id="tip_div"
		style="z-index:1000;display:none;width:659px;height:243px;background-image:url('/images/dck2.png');position:absolute;left:212px;top:165px;">
		<div id="tip_divInfo"
			style="text-align:center;position:relative;top:82px">
			<span id="error" style="font-size:30px;color:#EE7700;"><strong></strong></span>
		</div>
		<img id="tip_s"
			src="/images/qdmix.png" width="90"
			height="43" style="position:relative;top:120px;left:300px" />
	</div>
	<div id="manageArea"
		style="width:72px;height: 60px;margin:-26px 0px 0px -7px;"></div>
	<div style="margin:115px 0px 0px 0px;">
		<!-- 门诊缴费-->
		<div name="menus" id="mzcz" class="menu">
			<img src="/images/mzcz_s.png"/>
		</div>
		<!-- 门诊挂号-->
		<div name="menus" id="mzgh" class="menu">
			<img src="/images/mzgh_s1.png"/>
		</div>
		<!-- 门诊预约-->
		<div name="menus" id="mzyy" class="menu" style="display:none;">
			<img src="/images/mzyy_s.png"/>
		</div>

		<!-- 住院充值-->
		<div name="menus" id="zycz" class="menu">
			<img src="/images/zycz_s.png"/>
		</div>
		<!-- 查询-->
		<div name="menus" id="zzcx" class="menu">
			<img src="/images/cx_s1.png"/>
		</div>
	</div>


</body>
<script type="text/javascript" src="/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/js/jqsession.js"></script>
<script type="text/javascript" src="/js/main/main.js"></script>
</html>