<!DOCTYPE HTML>
<html>
<head>
	<title>查询挂号信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<!--以IE8模式渲染-->
	<meta http-equiv="X-UA-Compatible" content="IE=7"/>
	<!--以IE7模式渲染-->
	<link rel="stylesheet" href="/css/layui.css" media="all"/>
	<link rel="stylesheet" href="/css/control.css" media="all"/>
	<link rel="stylesheet" href="/css/cxym/cxghInfo.css" media="all"/>

</head>
<body scroll="no" onselectstart="return false">
<div id="time" style="position:absolute;top:3px;left:900px;font-size:60px;color: #FF0000;"></div>
<div id="titleArea">
	<font style="margin-left:40px;">查询挂号信息</font>
</div>
<div id="showArea">
	<div style="width: 995px;height: 414px;">
		<table id="keshi_t" style="width:960px;margin-top:60px;margin-left:20px;">
			<tr style="width:100%; background-color:#3f7dac;border:1px solid black;">
				<td class="theads" style="width:6%;">序号</td>
				<td class="theads" style="width:15%;">预约日期</td>
				<td class="theads" style="width:30%;">预约科室</td>
				<td class="theads" style="width:15%;">预约医生</td>
				<td class="theads" style="width:15%;">候诊时间</td>
				<td class="theads" style="width:15%;">操作</td>
			</tr>
			<tbody id="info_t" >
			</tbody>
		</table>
	</div>

	<table style="margin-top:20px;margin-left: 149px;">
		<tfoot>
		<tr>
			<td colspan="" style="width:200px;height:80px;font-size:30px;color:white; text-align:center;">
				<div class="pageButton" onclick="page.prePage($('#confirmBtn'))">上一页</div>
			</td>
			<td colspan="" style="width:200px;height:80px;font-size:30px; text-align:center;">
				<div id="confirmBtn"></div>
			</td>
			<td colspan="" style="width:200px;height:80px;font-size:30px;color:white; text-align:center;">
				<div class="pageButton" onclick="page.nextPage($('#confirmBtn'))">下一页</div>
			</td>
		</tr>
		</tfoot>
	</table>

</div>

<div id="bottomArea">

		<span style="margin-left:660px;">
			<img id="btnMain" style="margin-top:6px;" src="/images/yue/mzgh_index_y.png" height="" width=""/>
		</span>
	<span style="margin-left:40px;">
			<img id="btnReturn" style="margin-top:4px;" src="/images/yue/mzgh_return_y.png" height="" width=""/>
		</span>
</div>

<div id="tip_div"  style="margin: -529px 0px 0px 0px;display:none;z-index:1000;width:659px;height:243px;background-image:url('/images/dck2.png');position:absolute;left:212px;">
	<div id="tip_divInfo" style="text-align:center;position:relative;top:82px">
		<span id="error" style="font-size:30px;color:#EE7700;"><strong></strong></span>
	</div>
	<img id="tip_s" src="/images/qdmix.png"
		 width="90" height="43" style="position:relative;top:125px;left:4px" />
</div>
<div id="waiting"  style="margin: -529px 0px 0px 0px;display:none;z-index:1000;width:576px;height:321px;background-image:url('/images/waiting.gif');position:absolute;left:212px;">
</div>
</body>
</html>
<script type="text/javascript" src="/js/jquery-1.11.2.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/easing.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/stepBar.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/jqsession.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/pageOper.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/cxym/cxghInfo.js" charset="utf-8"></script>