<!DOCTYPE HTML>
<html>
<head>

	<title>查询目录列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<!--以IE8模式渲染-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/css/layui.css" media="all"/>
	<link rel="stylesheet" href="/css/control.css" media="all"/>
	<link rel="stylesheet" href="/css/cxym/cxmenu.css" media="all"/>

</head>
<body scroll="no" id="info">
<div id="yecx" class="menuss" style="background-color: #F89C35;">挂号信息查询</div>
<div id="zjpb" class="menuss" style="background-color: #3D72A6;"></div>
<div id="czjlcx" class="menuss" style="background-color: #3D72A6;">住院收费信息</div>
<div id="myddc" class="menuss" style="background-color: #F89C35;"></div>
<div id="mzsfcx" class="menuss" style="background-color: #6BAC14;"></div>
<div id="pdfTest" class="menuss" style="background-color: #F89C35;"></div>
<div id="ypjgcx" class="menuss" style="background-color: #E37655;">
</div>
<div id="zlxxcx" class="menuss" style="background-color: #2A547E;"></div>
<div id="main" style="position:absolute;">
	<img alt="" src="/images/yue/mzgh_index_y.png"/>
</div>
<div id="pre" style="position:absolute;">
	<img alt="" src="/images/yue/mzgh_return_y.png"/>
</div>
<div id="waiting"  style="margin: -529px 0px 0px 0px;display:none;z-index:1000;width:576px;height:321px;background-image:url('/images/waiting.gif');position:absolute;left:212px;">
</div>
</body>
</html>

<script type="text/javascript" src="/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/DriverJS/json2.js"></script>
<script type="text/javascript" src="/js/layui.js"></script>
<script type="text/javascript" src="/js/cxym/cxmenu.js"></script>
