@charset "utf-8";
body {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    text-align: center;
    background-color: #62BA90;
    background: url(${pageContext.request.contextPath}/images/bgn.jpg)
    no-repeat;
}

#bottomArea {
    background-color: #3f7dac;
    width: 100%;
    height: 80px;
    margin-left: -8px;
    text-align: left;
    font-size: 50px;
    color: white;
    margin-top: 700px;
    line-height: 60px;
}

#money {
    background-color: #B2CFEB;
    border: 1px solid black;
    top: 325px;
    left: 370px;
    padding-top: 3px;
    padding-left: 3px;
}