<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>呼叫页面</title>
    <!-- CSS LINK -->
    <!-- <link rel="stylesheet" href="css/resetCSS.css"/> -->
    <link rel="stylesheet" href="lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="lib/jquery-easyui-1.5.5.4/themes/default/easyui.css"/>
    <!-- <link rel="stylesheet" href="lib/jquery-easyui-1.3.2/themes/default/easyui.css"/> -->
    <!-- <link rel="stylesheet" href="lib/ztree/css/zTreeStyle/zTreeStyle.css"/> -->
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/global.css"/>
    <link rel="stylesheet" href="css/model.css"/>
    <!-- JS SRC -->
    <script src="lib/jquery/jquery-1.12.4.min.js"></script>
    <script src="lib/layer/layer.js"></script>
    <script src="lib/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <script src="lib/ztree/js/jquery.ztree.core-3.5.min.js"></script>
    <script src="lib/jquery-easyui-1.5.5.4/plugins/jquery.datagrid.js"></script>
    <script src="lib/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <script src="lib/My97DatePicker/WdatePicker.js"></script>
    <script src="js/page/caller.js"></script>
    <style>
        .table-prev {
		    padding: 10px;
		    margin-top: -16px;
		}
    </style>
</head>
<body>
    <div id="rightArea" class="r-area">
        <div id="rightAreaComm" class="r-area-com">
            <!-- 表格标题与功能按钮 -->
            <div id="tablePrev" class="table-prev calcForTable">
                <div class="r-fn-btns">
                    <button class="cbtn" onclick="cPage.callMethod()">呼  叫</button>
                </div>
            </div>
            <!-- 列表 -->
            <div id="rightAreaTable" class="r-area-table">
                <table id="datagridTable" style="width:auto;"></table>
            </div>
        </div>
    </div>
</body>
</html>